                        {% if projects is not empty %}
                            <ul class="list-group">
                                {% for project in projects %}
                                    <li class="list-group-item">
                                        <a href="{{ ea_url().setController('App\\Controller\\Admin\\ProjectCrudController').setAction('detail').setEntityId(project.id)  }}">
                                            {{ project.name }}
                                        </a>
                                        <span class="badge badge-{{ project.status.badgeClass }} float-right">{{ project.status.label }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-muted">{{ 'No projects assigned to you.'|trans }}</p>
                        {% endif %}
